.JokeList {
  display: flex;
  width: 80%;
  height: 80%;
}

.JokeList-sidebar {
  background-color: #9575cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}